{% extends "base.html" %}
{% block content %}

<h4>Редактировать отзыв</h4>

<form method="post">
    {% csrf_token %}

    <!-- Звёзды -->
    <div class="rating mb-3">
        {% for i in "54321" %}
            <input type="radio" name="rating" id="star{{ i }}" value="{{ i }}"
                   {% if review.rating == i|add:"0" %}checked{% endif %}>
            <label for="star{{ i }}">★</label>
        {% endfor %}
    </div>

    <textarea name="text" class="form-control mb-3" rows="4">{{ review.text }}</textarea>

    <button class="btn btn-success">Сохранить</button>
    <a href="{% url 'event_detail' review.event.id %}" class="btn btn-secondary">
        Отмена
    </a>
</form>

{% endblock %}
